
ul,li{
    list-style-position: inside;
    color: #B0B0B2;
}

.not-found{
    margin: 100px 0 180px;
}

.container-not-found{
    gap: 44px
}

.main-title{
    margin-bottom: 16px;
}

.container-main-text{
line-height: 28px;
}

.btn{
    margin-top: 0px;
}
.btnn{
    margin-top: 0px;
}

.light img{
    position: relative;
    z-index: 1;
}

.light::before{
    content: "";
    position: absolute;
    z-index: 1;
    left: 65%;
    bottom: 10%;
    width: 25%;
    height: 30%;
    background: linear-gradient(98.54deg,#1cc4f9cc .72%,#fe69fecc 90.69%);
    filter: blur(105px);
    transform: translate(-50%,-50%) rotate(-30deg);
}

@media(max-width:1024px){
    .container-not-found{
        flex-direction: column;
        gap: 100px;
    }

    .light::before{
        left: 50%;
        bottom: -70%;
    }
}

@media(max-width:768px){
    .container-not-found{
        gap: 200px;
    }
    
    .light::before{
        left: 50%;
        bottom: -90%;
    }
}