.first-screen {
  padding: 80px 16px 70px;
  text-align: center;
  border-bottom: 0.5px solid;
  border-image-source: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
  border-image-slice: 1;
  margin-bottom: 150px;
  position: relative;
  z-index: 2;
}
.first-screen::after {
  content: url(../img/about/first-screen_bg.png);
  position: absolute;
  top: -12%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.first-screen__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  list-style: none;
}
.first-screen__item span::before {
  content: url(../img/arrow_down.png);
  display: block;}
.first-screen__link {
  text-decoration: none;
  color: #D1D1D1;
}
.first-screen__link_main {
  font-size: 1rem;
  font-weight: 600;
  line-height: normal;
  color: #FFFFFF;
  text-decoration: none;
}

.faq {
  margin-bottom: 150px;
  position: relative;
  z-index: 1;
}
.faq::after {
  content: url(../img/about/faq_light.png);
  position: absolute;
  z-index: -1;
  top: -7%;
  right: 0;
}
.faq__container {
  max-width: 790px;
}
.faq__heading {
  text-align: center;
  margin-bottom: 48px;
}
.faq__heading .title_2 {
  margin-bottom: 24px;
}
.faq__suptitle {
  margin: 0 auto;
}
.faq__spoiler_item {
  border: 0.5px solid;
  border-image-source: linear-gradient(90deg, #757272, rgba(255, 255, 255, 0));
  border-image-slice: 1;
  background: rgba(37, 37, 50, 0.8117647059);
  padding: 24px;
}
.faq .spoiler {
  gap: 24px;
}
.faq .spoiler__title {
  margin-bottom: 0;
  padding-bottom: 0;
  border: none;
}
.faq .spoiler__title.active {
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3490196078);
}

.price {
  margin-bottom: 150px;
}
.price__heading {
  text-align: center;
  max-width: 751px;
  margin: 0 auto 40px;
}
.price__suptitle {
  margin: 0 auto 12px;
}
.price__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 46px;
}
.price__item {
  background: #252532;
  border: 1px solid #252532;
  border-radius: 6px;
  padding: 35px;
  cursor: pointer;
}
.price__item:hover {
  border: 1px solid;
  border-image-source: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
  border-image-slice: 1;
}
.price__item:hover .price__btn {
  background: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
}
.price__name {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: normal;
  color: #FFFFFF;
  margin-bottom: 9px;
}
.price .title_1 {
  letter-spacing: -0.32px;
  margin-bottom: 9px;
}
.price .title_1 span {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  color: #71717A;
  margin-left: -15px;
}
.price__text {
  font-weight: 400;
  margin-bottom: 16px;
}
.price__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 36px;
}
.price__list_item {
  padding-left: 26px;
  position: relative;
  font-weight: 600;
  line-height: normal;
}
.price__list_item::before {
  content: url(../img/check-circle.png);
  position: absolute;
  top: 0;
  left: 0;
}
.price__btn {
  border: 1px solid;
  border-image-source: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
  border-image-slice: 1;
  background: rgba(255, 255, 255, 0.0588235294);
  letter-spacing: 1.5px;
}